<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a To Do</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${item}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    To Do :<input type="text" th:field="*{task}" />
    <span th:if="${#fields.hasErrors('task')}"
          th:errors="*{task}"></span><br />
    Date Due (mm/dd/yyyy) :<input type="text" th:field="*{due}" />
    <span th:if="${#fields.hasErrors('due')}"
          th:errors="*{due}"></span><br />
    Priority (yes or no) :<input type="text" th:field="*{priority}" />
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span><br />
    <br />
    <input type="submit" value="Submit">
</form>
</body>
</html>